
body {
  text-align: center;
  word-wrap:normal;
  font-family: 'Yantramanav', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(transparent, black 200%), url('images/fieldbackground.jpg');
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  max-width: 80vw;
  margin: auto;
  margin-top: 5vh;
}

h3 {
  max-width: 80%;
  overflow: auto;
  margin: auto;
}

* {
  font-size: 20px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: lightgray;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  font-size: .8em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

#iNeedSomethingForMy {
  max-width: 100%;
}

#landingChoice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10vh;
}

#secondaryPages {
  /* background: url('https://images.pexels.com/photos/131634/pexels-photo-131634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover; */
  margin: auto;
  margin-top: 5vh;
}


#navTop {
  text-align: left;
  background: rgba(0, 0, 0, 0.4);
  list-style-type: none;
  margin:0px auto;
  height: 5vh;
  margin-block-start: 0;
  margin-block-end: 0;
  width:100%;
}

li {
  text-align: left;
  display: inline;
}


#readUp, #suppliesUp, #newSearch {
  font-size: .4em;
  background: none;
}

#suppliesContent {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.dropButton {
  width: 50%;
}


#suppliesResults, #bookResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background: url('https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  border: none;
  padding-top: 5vh;
}


#suppliesResults p a, #bookResults p a {
  max-width: 70%;
}

#resultsText {
  border: none;
  padding: 10px;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1em;
}

::placeholder {
  color: white;
}

input, textarea {
  background: rgba(0, 0, 0, 0.2);
  border: none;
}

p {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

img {
  width: 50vw;
  height: 50vw;
}

.hidden {
  display: none;
}

#selectedAnimal {
  background: none;
  text-align: center;
  width: 80vw;
}

#animalChoice, #searchBar {
  margin-top: 5vh;
}

.dropbtn {
  position: relative;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
  color: white;
  border: none;
  margin: 0;
}

.dropBtn {
  align-self: center;
}

#iNeedSomethingForMy {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: 0;
    margin-left: 0;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  z-index: 1;
  color: white;
  width: 100%;
  margin: auto;
  background-color: seagreen;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background: rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 5px 6px;
  text-decoration: none;
  color: white;
  font-size: .6em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

.dropdown-content {
   max-height: 50vh;
   overflow:auto;
}

input[type=text] {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* tablet-portrait-up */
@media only screen and (min-width: 600px) {

  * {
    font-size: 30px;
  }

  p {
    font-size: .5em;
    width: 25%;
    margin: 1.25%;
  }

  img {
    width: 20vw;
    height: 20vw;
  }

  #iNeedSomethingForMy {
    max-width: 80%;
  }

  .dropButton {
    width: 100%;
  }

  #supplies, #books {
    padding: .5em;
  }

  #animalChoice {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


/* tablet-landscape-up */
@media only screen and (min-width: 900px) {

  * {
    background-size: cover;
  }


/* desktop-up */
@media only screen and (min-width: 1200px) {

  h1 {
    padding-top: 10vh;
  }

  #supplies, #books {
    padding: 1em 2em;
  }

  #suppliesResults p a, #bookResults p a, {
    font-size: .5em;
  }

  #resultsText {
    padding: 50px;
  }

  #booksNav, #suppliesNav {
    font-size: .75em;
    max-width: 80vw;
  }

  p {
    font-size: .7em;
    margin: 1.25%;
    width:20%;
  }

  img {
    width: 15vw;
    height: 15vw;
  }

  .dropbtn {
    padding: 16px;
    font-size: 25px;
  }

  .dropdown-content {
    min-width: 300px;
  }

  .dropdown-content a {
    padding: 12px 16px;
  }
